@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;600;700&family=Fira+Code:wght@300;400;600;700&display=swap");
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	font-family: "Hanken Grotesk", sans-serif;
	overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

thead {
	background-color: #333;
	color: white;
	font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2%;
}

th,
td {
	border: 1px solid black;
	padding: 3px;
}

thead th {
	width: 25%;
}
